
.jumbotron-home-text {
	position: relative;
	top: -20px;
	color: black;
	text-align: center;
}

.jumbotron-home-img {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 590px;
	height: 480;
}

.home-single-descrip {
	padding-bottom: 10px;
}

.matched-pic {
	margin-left: -25px;
	padding: 10px;
}

.matched-pic:hover {
	background-color: rgba(0,0,0,0.5);
}
