<template name="profile">

<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
      
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/match">Match</a></li>
            <li role="presentation" class="active"><a href="/profile">Profile</a></li>
          </ul>
        </nav>
        <a href="/"><h3 class="text-muted">Buddier</h3></a>
      </div>

      <div class="jumbotron row text-center">
      		<div class="col-sm-4">
	        	<img src="https://s3.amazonaws.com/creativemornings-com/uploads/user/avatar/89900/Profile_picture_square.jpg" class="img-circle">
	        </div>
	        <div class="col-sm-8">
	        	<h1>{{name}}</h1>
	        	<h3 style="font-weight:normal;">Buddy Rating:</h3>
	        		<div class="stars">
	        			<span class="glyphicon glyphicon-star" style="font-size:32px; color: #FFD700;" aria-hidden="true"></span>
	        			<span class="glyphicon glyphicon-star" style="font-size:32px; color: #FFD700;" aria-hidden="true"></span>
	        			<span class="glyphicon glyphicon-star" style="font-size:32px; color: #FFD700;" aria-hidden="true"></span>
	        		</div>
	        	
	        	<div class="tags">
	        		<!--{{#each}}
	        			
	        			{{tag}}

	        		{{/each}}-->
	        		<span></span>
	        		<span></span>
	        	</div>
      		</div>
      </div>

      <div class="row">
        <div class="col-lg-12">
	        <h3>Previous Buddies</h3>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /container -->

</template>