<template name="profile">

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
      
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/match">Match</a></li>
            <li role="presentation" class="active"><a href="/profile">Profile</a></li>
          </ul>
        </nav>
        <a href="/"><h3 class="text-muted">Buddier</h3></a>
      </div>

      <div class="jumbotron row text-center">
      		<div class="col-sm-4 col-xs-12 col-xs-offset-0">
	        	<img src="https://s3.amazonaws.com/creativemornings-com/uploads/user/avatar/89900/Profile_picture_square.jpg" class="img-circle">
	        </div>
	        <div class="col-sm-8">
	        	<h1>Bill Smith</h1> <!-- {{name}} -->
	        	<h3 class="lead" style="line-height: 220%;">Buddy Rating:</h3>
	        	<div class="tags">
	        		<!-- {{#foreach}} -->
	        		<span></span><span></span><span></span><span></span><span></span>
	        	</div>
      		</div>
      </div>

      <div class="row">
        <div class="col-lg-6">

        </div>

        <div class="col-lg-6">

        </div>

      </div>

    </div>
  </div>
</div> <!-- /container -->

</template>